.calendar {
    display: inline-block;
    width: 30%;
    font-size: 14px;
    margin: 0 7px;
    position: relative;
    text-align: center;
    background-color: rgb(240,240,240);
}

.calendar table tr:not(:last-child) td {
    padding-bottom: 3px;
}

.calendar  table {
    width:100%;
    border-spacing: 0;
}

.calendar  table td{
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.0);
}

.calendar  table td:not(.disabled):hover{
    cursor:pointer;
}

.calendar table tr.days-names {
    background-color: rgb(220,220,220);
    color:black;
}

#calendar-container {
    text-align: center;
    margin-bottom: 15px;
    /*border-bottom: 1px solid rgb(100,100,100);*/
}

#calendar-year {
    padding: 9px;
    font-size: 22px;
}

.calendar-month {
    box-sizing: border-box;
    padding: 10px;
    color: black;
}

.calendar-container {
    height:260px;
}

.calendar-dates {
    padding-bottom: 8px;
}

.weekend-day-red {
    color:#da224b;
}

.day-state {
    display: none;
}

/*.weekend-day {*/
    /*opacity:0.3;*/
/*}*/

.sub-category {
    margin-left: 38px;
    text-transform: uppercase;
    color: rgb(120,120,120);
    margin-top: 23px;
    margin-bottom: 5px;
    font-size: 18px;
}

.state-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    position: absolute;
    background-color: #ff5c00;
    border: 1px solid #ff5c00;
    border-radius: 0;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    left: 0;
    box-sizing: border-box;
    margin-top: 86px;
    padding: 6px 0 3px 0;
}

/*.state-button[data-state='0'] {*/
    /*color: #318e01;*/
/*}*/

/*.state-button[data-state='1'] {*/
    /*background-color: #318e01;*/
    /*color:white;*/
/*}*/

.state-button[data-state='1'] {
    background-color: #ff5c00;
    color:white;
}

.state-button[data-state='1']:hover {
    background-color: white;
    color:#ff5c00;
}

.state-button[data-state='0'] {
    background-color: rgb(130,130,130);
    border-color:rgb(130,130,130);
    color:white;
}

.state-button[data-state='0']:hover {
    background-color: white;
    color:rgb(130,130,130);
}

.status-container {
    position: absolute;
    width: 20px;
    height: 4px;
    font-size: 0;
    text-align: center;
    margin-left: -2px;
}

.request-day,
.reserved-day,
.weekend-day {
    width:4px;
    height:4px;
    background-color: black;
    border-radius: 4px;
    margin: 0 1px;
    display: inline-block;
}

.reserved-day {
    background-color: #318e01;
}

.request-day {
    background-color: #ff5c00;
}

.weekend-day {
    background-color: #555;
}


a.button {
    text-decoration: none;
    color:black;
}

a.button img {
    height: 15px;
}

.disabled > *{
    opacity : 0.3;
}

.disabled-button > * {
    opacity : 0.3;
}

.disabled:hover {
    cursor: default;
}

#change-months-container .button {
    font-size: 20px;
}

#change-months-container .button.left {
    float:left;
}
#change-months-container .button.right {
    float:right;
}

.black-title {
    background-color: black;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    padding: 8px 8px 6px 8px;
    margin-bottom: 11px;
}

.category-title {
    border-bottom: 1px solid rgb(200,200,200);
    font-style: italic;
    color: rgb(180,180,180);
    margin-bottom: 15px;
    margin-top: 18px;
    letter-spacing: 0.51px;
    font-size: 13px;
    display: inline-block;
    /*margin-left: 12px;*/
}

.inline-form {
    display: inline-block;
}

.weekends-list {
    padding-bottom: 5px;
}

.weekends-list table  {
    border-spacing: 0;
    background-color: rgb(220, 220, 220);
    width: 100%;
    border: 7px solid rgb(220,220,220);
    border-collapse: collapse;
}


.weekends-list table td {
    width:86%;
    border:1px solid rgba(0,0,0,0.4);
    text-align: center;
    box-sizing: border-box;
    padding: 6px 0 5px 0;
    position: relative;
}

.weekends-list table td form {
    margin-right: 7px;
    margin-left: 2px;
}

.weekends-list table td:first-child form,
.weekends-list table td:last-child form {
    margin-right: 0;
}

.weekends-list table tr:first-child td {
    padding: 1px 0 5px 0;
}

.weekends-list table tr:last-child td {
    padding: 5px 0 1px 0;
}

.weekends-list table td:first-child {
    width:7%;
}

.weekends-list table td:last-child {
    width:7%;
}

.weekends-list table input[type=submit]{
    background-color: rgb(180,180,180);
    border: 0;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    margin-left: 2px;
}

input[type=submit]:hover {
    cursor: pointer;
}

.padding-block {
    box-sizing: border-box;
    padding: 0 30px;
}

#weekend-info-block, .day-state-title {
    padding: 10px 0 8px 0;
    text-align: center;
    background-color: rgb(100,100,100);
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

.weekends-management-block > form {
    text-align: center;
    margin-top: 15px;
}

select, input { outline:none; }

.weekends-management-block > form select {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: white;
    border: 0px solid rgb(200,200,200);
    padding: 7px 12px;
    text-transform: uppercase;
    color: rgb(170,170,170);
    font-size: 13px;
    font-family: "Officina";
}

.weekends-management-block > form input[type='submit']{
    -webkit-appearance: none;
    border-radius: 30px;
    background-color: white;
    color: #da224b;
    border: 1px solid #da224b;
    padding: 7px 22px 4px 22px;
    text-transform: uppercase;
    font-family: "Officina";
    font-size: 13px;
}

#day-state-selector {
    text-transform: uppercase;
    font-size: 14px;
    /*color: #da224b;*/
    text-align: center;
    border: 1px solid #da224b;
    width: 87%;
    padding: 5px 0px 3px 0px;
    margin: 20px auto;
    border-radius: 30px;
}

#day-state-selector:hover {
    cursor:pointer;
}

#day-state-selector[data-value='0'] {
    color: #da224b;
}

#day-state-selector[data-value='1'] {
    background-color: #da224b;
    color:white;
}

#explication {
    padding: 10px 0 8px 0;
}

#explication .block {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 0 20px;
    font-size: 12px;
    color: rgb(120,120,120);
}

#explication .block .explication-circle{
    display: inline-block;
    vertical-align: top;
    width:14px;
    height:14px;
    border-radius:20px;
}

#request.block .explication-circle {
    background-color: #ff5c00;
}

#reserve.block .explication-circle {
    background-color: #318e01;
}

#weekend.block span:first-child {
    color:rgb(190,190,190);
}

#weekend.block span:first-child+span {
    color:rgb(255,190,190);
}

.active-day {
    border:1px solid rgb(180,180,180) !important;
}

#day-state {
    display: none;
    border-top: 1px solid rgb(80,80,80);
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
    font-size: 20px;
    color:black;
}

#day-state #active-day-string {
    /*color: #da224b;*/
}

#day-state #active-day-string select {
    font-size: 20px;
}

#services-container {
    display: none;
    text-align: left;
    margin-top: 10px;
}