.filter-title {
     color: rgb(60,60,60);
     text-align: left;
     box-sizing: border-box;
     padding: 4px 0px 0px 0;
     margin: 0;
     border-bottom: 1px solid rgb(170,170,170);
     font-weight: 900;
     font-size: 13px;
     text-transform: uppercase;
 }
.filter-title:first-child { margin-top: 0;}

.filter-block {
    box-sizing: border-box;
    padding: 10px 8px 20px 8px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    position: relative;

}

.filter-block input,
.filter-block select {
    outline: none;
}

.filter-block .category-buttons {
    width: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: 100;
    border-radius:2px;
    -webkit-appearance: none;
    border: 0;
    margin: 5px 0;
    background-color: rgb(110,110,110);
    color: white;
    text-transform: uppercase;
    font-family: "Officina";
    font-size: 13px;
    box-sizing: border-box;
    padding: 7px 0 3px 0;

    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}
.filter-block .category-buttons:first-child { margin-top: 0 }
.filter-block .category-buttons:last-child { margin-bottom: 0 }

.filter-block .category-buttons:hover {background-color: #ff4c00; cursor: pointer; transform: scale(1.03, 1.03); }
.filter-block .category-buttons.active-category {background-color: #ff5c00; cursor: pointer}

.filter-block table {
    width: 100%;
    box-sizing: border-box;
}
.filter-block td {
    vertical-align: top;
}

.filter-block[data-name='price'] input[type='text'] { width:70%; }

.filter-block[data-name='price'] table {
    text-align: center;
}
.filter-block[data-name='price'] td {
    vertical-align: top;
}


.filter-block[data-name='price'] table td, .filter-block[data-name='price'] table td+td+td{
    width:6%;
}

.filter-block[data-name='price'] table td+td, .filter-block[data-name='price'] table td+td+td+td{
    width:44%;
}

.filter-block[data-name='price'] table tr:not(:first-child) td {
    text-align: left;
    padding-left: 20px;
}

/*.filter-block .item-city, .filter-block .item-region {*/
.filter-block select {
    -webkit-appearance: none;
    width: 100%;
    background-color: white;
    padding: 3px 10px;
    box-sizing: border-box;
    border-radius: 0;
    margin-bottom: 7px;
    text-align: center;
    border: 1px solid rgb(200,200,200);
}
#submit-button {
    display: none;
}

.filter-block .price-currencies,
.filter-block .price-types,
.filter-block .price-types-currencies {
    box-sizing: border-box;
    padding-left: 20px;
}

.filter-block .padding {
    box-sizing: border-box;
    padding-left: 20px;
}

.filter-block .padding input[type='number'] {
    width:70%;
    margin: 3px;
}

.filter-block a.remove-from-filter {
    position: absolute;
    background: url(/images/icons/remove_filter.svg) no-repeat center center #da224b;
    background-size: cover;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    right: 0;
    text-decoration: none;
    top: 0;
    font-size: 20px;
    margin-top: -21px;

    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}

.filter-block a.remove-from-filter:hover {
    transform: scale(1.175, 1.175);

    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.price-types-currencies hr {
    border-bottom: 1px solid rgb(240,240,240);
    width: 105px;
    margin: 11px 0px;
}

a.sub-categories-link {
    display: block;
    color: rgb(110, 110, 110);
    text-decoration: none;
    margin: 7px 0;
}

a.sub-categories-link:hover,
a.sub-categories-link.active  {
    color: black;
    text-decoration: underline;
}