#gallery {
    width:100%;
    height:500px;
    overflow: hidden;
}

.list {
    width:100%;
    white-space: nowrap;
    font-size: 0;


    transition: margin 0.6s ease-in;
    -o-transition: margin 0.6s ease-in;
    -moz-transition: margin 0.6s ease-in;
    -webkit-transition: margin 0.6s ease-out;
}

#gallery .list .li {
    display: inline-block;
    background: no-repeat top center;
    background-size: cover;
    width:100%;
    height:500px;

}


#gallery .checkBoxes {
    position: absolute;
    text-align: center;
    left:0;
    right:0;
    margin-top: -50px;
}

#gallery .checkBoxes .checkbox {
    width:10px;
    height:10px;
    border-radius: 20px;
    border:1px solid white;
    display: inline-block;
    font-size: 0;
    margin: 0 4px;
}

#gallery .checkBoxes .checkbox.active,
#gallery .checkBoxes .checkbox:hover {
    background-color: white;
}

#gallery .checkBoxes .checkbox:hover {
    cursor: pointer;
}
