
/* ------------------ HEADER ------------------ */


header {
    position: fixed;
    width:100%;
    height:60px;
    left:0;
    top:0;
    background-color: white;
    box-sizing: border-box;
    padding: 0 20px;
    line-height: 60px;
    font-variant: small-caps;
    z-index: 2000;
    box-shadow: 0 -4px 10px black;
}

header > .top-login-line {
    position: fixed;
    left:0;
    width:100%;
    height: 4px;
    background-color: #808080;
}

header > div {
    height:60px;
}

.header-padding {
    height:60px;
}


/* ------------------ HEADER LOGO ------------------ */


header > .container > .logo {
    float: left;
}

header > .container > .logo img {
    height:35px;
    opacity: 0.82;
}

header > .container > .logo > a {
    display: block;
    border: 0;
    text-decoration: none;
    padding-top: 14px;
    box-sizing: border-box;
    height: 60px;
}


/* ------------------ HEADER MENU ------------------ */


header > .container > .menu {
    float: right;
}

header > .container > .menu a {
    font-family: "Officina";
    font-variant: normal;
    text-transform: uppercase;
}

header > .container > .menu > .header-menu > li > a:not(.create-holiday) {
    text-decoration: none;
    display: inline-block;
    height:60px;
    color:rgb(100,100,100);
    border:0;
    padding:0 15px;
    margin:0;
}

header > .container > .menu > .header-menu > li > a:hover,
header > .container > .menu > .header-menu > li.active-menu > a {
    background-color: #808080;
    color:white;
}

header > .container > .menu > .header-menu > li > .create-holiday {
    text-decoration: none;
    padding: 7px 30px 5px 30px;
    background-color: transparent;
    border: 1px solid #ff5c00;
    color: #ff5c00;
    border-radius: 20px;
    margin-right: 20px;
    font-weight: 600;
}

header > .container > .menu > .header-menu > li > .create-holiday:hover {
    color:white;
    background-color: #ff5c00;
}

header > .container > .menu > .header-menu > li > .active-link {
    background-color: #808080;
    color:white !important;
}

header .header-menu {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-size:0;
}

header .header-menu > li{
    display: inline-block;
    font-size: 16px;
}

#profile:hover ul {
    display: block;
}


/*------------------ HEADER DROPDOWN MENU ------------------ */


header > .container > .menu .dropdown-menu {
    background-color: #808080;
    position: absolute;
    display: none;
    padding: 11px;
    font-size: 14px;
    margin-left: 2px;
}

header > .container > .menu .dropdown-menu li {
    display: block;
    line-height: normal;
    margin-bottom:7px;

}

header > .container > .menu .dropdown-menu li:last-child {
    margin-bottom: 0;
}

header > .container > .menu .dropdown-menu li a {
    color:white;
    text-decoration: none;
}


/*------------------ POP-UP FULLSIZE ------------------ */

.popup-fullsize {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    overflow-y: auto;
    display: none;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 100;
}

.popup-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    height:100%;
    min-height: 100%;
}

.popup-fullsize .close-pop-up {
    position: fixed;
    width:50%;
    height:100%;
    top:0;
    right:0;
    background: url(../images/icons/cross-white.svg) no-repeat top right;
    background-size: 20px 20px;
    padding: 90px 30px;
    opacity: 0.4;
    box-sizing: border-box;
    background-origin: content-box;
}

.popup-fullsize .close-pop-up:hover {
    opacity: 1;
}


/*------------------ LOG-IN FORM ------------------ */

#log-in .form{
    position: fixed;
    top:50%;
    margin-top: -85px;
    left:0;
    right:0;
}