.avatar {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: no-repeat center center;
    background-size: cover;
}

.va-top {
    vertical-align: top;
}

#center-text {
    text-align: center;
    padding-top: 20px;
    color: rgb(60,60,60);
}

#center-text #date {
    margin-top: 12px;
    font-size: 14px;
}

#center-text #region {
    margin-top: 12px;
    font-size: 14px;
    font-style: italic;
}

#center-text h3 {
    text-transform: uppercase;
}

#main-info {
    box-sizing: border-box;
}

#main-info table {
    width: 800px;
    margin-left: 80px;
}

#main-info.col-3 table td:first-child,
#main-info.col-3 table td:last-child { width:160px; }
#main-info.col-3 table td:nth-child(2) { width:480px; }

#main-info.col-3 #center-text h3 {
    display: inline;
}

#main-info.col-2 table td:first-child,
#main-info.col-2 table td:last-child { width:25%; }
#main-info.col-2 table td:nth-child(2) { width:50%; }

#main-info.col-2 h3 {
    margin-bottom: 10px;
}

.holiday-list {
    margin-top: 30px;
}

/* SERVICE */

.service-holiday,
.service-content {
    box-sizing: border-box;
    font-size: 0;
}

.service-holiday {
    margin-bottom: 14px;
    margin-left: 20px;
    box-sizing: border-box;
}

.service-holiday > div {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.service-content > .service-info,
.service-content > .note {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    width:50%;
    box-sizing: border-box;
}

.service-holiday .category-menu {
    /*width: 11%;*/
    width: 60px;
    text-align: center;
}

.service-holiday .service-content {
    /* width: 89%; */
    width: 800px;
    min-height: 180px;
    background: no-repeat center center;
    background-size: cover;
    background-color: rgba(156, 153, 90, 0.60);
    position: relative;
}

.service-holiday .category-menu img{
    width: 35px;
}

.service-content .service-info {
    text-align: center;
    padding-top: 40px;
    padding-left: 3px;
}

.service-content a.title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    display: block;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.service-content input.title {
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-weight: 600;
    display: block;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Officina";
}

.service-content .service-info .subCategory {
    font-size: 14px;
    font-style: italic;
    color: white;
    margin-top: 4px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: block;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Officina";
}

.service-content .service-info .author-number {
    font-size: 14px;
    margin-top: 4px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: block;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    width: 100%;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-family: "Officina";
}

.service-content .service-info > input::-webkit-input-placeholder {color: white;}
.service-content .service-info > input::-moz-placeholder          {color: white;}/* Firefox 19+ */
.service-content .service-info > input:-moz-placeholder           {color: white;}/* Firefox 18- */
.service-content .service-info > input:-ms-input-placeholder      {color: white;}

.service-content .note {
    width: 49%;
    padding-right: 10px;
}

.service-content .note textarea {
    width: 100%;
    height: 119px;
    margin-top: 15px;
    margin-bottom: 46px;
    display: inline-block;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
    padding: 5px;
    font-size: 13px;
    outline: none;
    background-color: rgba(255,255,255,0.93);
    font-family: "Officina";
    resize: none;

    transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
}

.service-content .note textarea:focus {
    height:200px;
}

.service-content.category-show {
    background-image: url(/images/category/show.jpg) ;
}

.service-content.category-leading {
    background-image: url(/images/category/leading.jpg) ;
}

.service-content.category-place {
    background-image: url(/images/category/place.jpg) ;
}

.service-content.category-photo-video {
    background-image: url(/images/category/photo-video.jpg) ;
}

.service-content.category-decorating {
    background-image: url(/images/category/decorating.jpg) ;
}

.service-content.category-transport {
    background-image: url(/images/category/transport.jpg) ;
}

.service-content.category-fashion {
    background-image: url(/images/category/fashion.jpg) ;
}

.service-content.category-attributes {
    background-image: url(/images/category/attributes.jpg) ;
}

.service-content .holiday-price {
    background-color: rgba(240,240,240, 0.9);
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
    position: absolute;
    width: inherit;
    bottom: 0;
}

/*.service-content .holiday-price:hover {*/
    /*background-color: rgb(230,230,230);*/
    /*cursor: pointer;*/
/*}*/

.service-content .price-value:hover {
    background-color: rgba(0,0,0,0.15);
    cursor: pointer;
}

.service-content .price-value:focus {
    background-color: white;
}

.service-content .price-value:focus:hover {
    cursor: text;
}

.service-content .holiday-price-view {
    color: black;
}

.service-content .change-price-title {
    font-size: 11px;
    position: absolute;
    right: 8px;
    margin-top: 8px;
    font-style: italic;
    font-weight: 800;
    color: rgba(60,60,60, 0.7);
}

.service-content .change-price-title:hover {
    cursor: pointer;
    color: rgb(50,50,50);
}

.add-link > a:after {
    display: block;
    content: "Добавить услугу из каталога";
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 150px;
    position: absolute;
    background-color: rgba(255, 92, 00, 0.5);
    top: 0;
    width: inherit;
    height: 149px;
    transform: scale(0.3, 0.3);
    opacity: 0;

    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.add-link:hover > a:after {
    opacity: 1;
    transform: scale(1, 1);
}

.add-link .holiday-price {
    font-size: 16px;
    opacity: 0.5;
}

.add-link.service-holiday textarea {
    opacity: 0.5;
}

.add-link .add-link-title {
    color: white;
    font-size: 18px;
    margin-top: 25px;
    font-style: italic;
}

.add-link.service-holiday:hover .price-value {
    background-color: transparent;
}

.add-link-button-seperator {
    border-bottom: 1px solid rgb(220,220,220);
    margin-left: 46.5%;
    margin-top: 20px;
    margin-bottom: 18px;
    width: 20%;
}

.service-holiday .holiday-author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: no-repeat center center;
    background-size: cover;
    display: block;
    margin: 2px auto 8px auto;
}

.hide {
    display: none;
}

.bg-black {
    background-color: rgba(0,0,0,0.76);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3000;
}

.bg-black:hover {
    cursor: pointer;
}

.catalog-mini {
    position: fixed;
    width: 90%;
    height: 84%;
    background-color: white;
    /*border-radius: 10px;*/
    z-index: 3001;
    left: 5%;
    top: 8%;
    margin-top: 30px;
}

.close-catalog-mini {
    position: fixed;
    right: 2.4%;
    margin-right: -10px;
    top: 8%;
    margin-top: 27px;
    font-size: 26px;
    text-decoration: none;
    color: rgba(255,255,255, 0.3);
}

.add-buttons-block {
    font-size: 0;
    text-align: left;
    margin-top: 25px;
    padding-left: 80px;
}

.add-buttons-block .big-orange-add-button-catalog:nth-child(2) {
    margin-left: 30px;
}

.add-buttons-block .big-orange-add-button-catalog:hover {
    background-color: #ff5c00;
    color:white;
}

.close-catalog-mini:hover {
    color: rgba(255,255,255, 0.6);
}

.catalog-mini iframe {
    width:100%;
    height: 100%;
}

.big-orange-add-button-catalog {
    width: 385px;
    padding-top: 9px;
    padding-bottom: 8px;
    display: inline-block;
    font-weight: 600;
    border: 1px solid rgb(255,92,0);
    text-decoration: none;
    font-size: 18px;
    color: rgb(255,92,0);
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 1099px), (max-height: 600px) {

    .catalog-mini {
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        margin-top: 60px
    }

    .close-catalog-mini {
        position: fixed;
        right: 3%;
        top: 80px;
        font-size: 26px;
        text-decoration: none;
        color: rgba(0,0,0,0.3);
    }

    .close-catalog-mini:hover {
        color: rgba(0,0,0,0.6);
    }

}