.requests-list {

}

.requests-list .request:first-child {
    margin-top: 25px;
}

.requests-list .request:last-child {
    margin-top: 25px;
    margin-bottom: 50px;
}

.request {
    font-size: 0;
    margin: 45px 0;
}

.request .avatar,
.request .request-information {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.request .avatar {
    width: 11.7%;
    padding-bottom: 11.7%;
    background: no-repeat center center;
    background-size: cover;
    border-radius: 100px;
}

.request .request-information {
    width: 88.3%;
    box-sizing: border-box;
    padding-left: 15px;
}

.request .request-information span.author-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    color: rgb(50,50,50);
}

.request .request-information a.phone-number {
    color: rgb(60,60,60);
    font-weight: 600;
    text-decoration: none;
    float: right;
    font-size: 14px;
    display: inline-block;
    padding-top: 5px;
}

.request .request-title {
    border-bottom: 1px solid rgba(0,0,0,0.24);
    padding-bottom: 4px;
}

.request .request-message {
    padding-bottom: 10px;
    color: rgb(60,60,60);
    font-weight: 100;
    font-size: 14px;
    font-style: italic;
    border-bottom: 1px solid rgba(0,0,0,0.24);
}

.request .request-info {
    font-size: 0;
    padding-top: 14px;
}

.request .request-info .request-left,
.request .request-info .request-right {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.request .request-info .request-left {
    width:28%;
    padding-right: 12px;
}

.request .request-info .request-right {
    width:72%;
    padding-left: 12px;
}

.request .request-info .param {
    background-color: rgb(170,170,170);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    margin: 6px 0;
    padding: 5px 0 3px 0;
}

.request .request-info .param:first-child { margin-top: 0 }