

/*.col-span-3 {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*padding: 26px 13px 26px 26px;*/
    /*box-sizing: border-box;*/
    /*width:240px;*/
    /*border:1px solid red;*/
/*}*/

/*.col-span-9 {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*padding: 26px 26px 26px 13px;*/
    /*box-sizing: border-box;*/
    /*width:720px;*/
    /*border:1px solid green;*/
/*}*/

#avatar {
    width: 100%;
    background-color: white;
}

.title {
    font-size: 39px;
    text-align: center;
}

.information ul {
    margin: 0;
    font-size: 14px;
}

.info-title {
    color:rgb(120,120,120);
    text-decoration: underline;
}

.info-title+li {
    /*margin-bottom: 10px;*/
}

h1.title {
    margin: 0;
}

h1.title:before, h1.title:after {
    content: " ";
    background-size: cover;
    display: inline-block;
    width: 90px;
    height: 17px;
    margin: 0 28px;
    opacity: 0.8;
}

span.title-black {
    display: inline-block;
    background-color: #484848;
    color: white;
    padding: 7px 0 3px 0;
    box-sizing: border-box;
    font-size: 13px;
    width:120px;
    text-align: center;
}

span.title-orange {
    display: inline-block;
    background-color: #ff5c00;
    color: white;
    padding: 7px 0 3px 0;
    box-sizing: border-box;
    font-size: 13px;
    width:120px;
    text-align: center;
}

.title-grey {
    margin-bottom: 20px;
    background-color: rgb(240,240,240);
}

.title-grey a {
    text-transform: uppercase;
    font-style: italic;
    color: rgb(100,100,100);
    font-size: 10px;
    font-weight: 600;
    float: right;
    line-height: 26px;
    margin-right: 10px;
}

.description, .information {
    float: left;
}

.description {
    width:63%;
    box-sizing: border-box;
    /*padding-right: 26px;*/
    font-size: 14px;
}

.information {
    width: 37%;
}

.information ul li.link a{
    color:black;
    text-decoration: none;
}

.service {
    background-color: rgb(245,245,245);
    margin-bottom: 30px;
    font-size: 0;
    position: relative;
}

.service > .avatar {
    width:210px;
    height:210px;
    /*background: center center no-repeat;*/
    /*background-size: cover;*/
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border-top: 1px solid rgb(240,240,240);
    border-left: 1px solid rgb(240,240,240);
    border-right: 1px solid rgb(240,240,240);
}

.service > .avatar > div {
    background: center center no-repeat;
    background-size: cover;
    height:inherit;
}

.service > .info {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    position: relative;
    margin-left: 14px;
}

.service h2{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0 0 0;
}

.service .h2{
    color:black;
    text-decoration: none;
}

.service h3{
    font-weight: 100;
    font-size: 13px;
    color: rgb(60,60,60);
    font-style: italic;
    margin: 2px 0 0 0;
    padding-bottom: 6px;
}

.service .desc{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 100%;
    font-size: 13px;
    line-height: 13px;
    height: 90px;
    overflow: hidden;
    text-overflow: clip;
}


.service .content {
    display:inline-block;
    vertical-align: top;
    font-size: 16px;
}

.service .about {
    padding-left: 20px;
}

.all-info {
    padding-bottom: 8px;
    height: 100px;
    padding-top: 8px;
    box-sizing: border-box;
    font-size: 12px !important;
}

.all-info .info-title {
    font-style:italic;
}

.all-info .info-title+div {
    margin-bottom: 12px;
}

/*.more {*/
    /*text-decoration: none;*/
    /*background-color: rgb(100,100,100);*/
    /*color: white;*/
    /*padding: 4px 12px 2px 12px;*/
    /*font-size: 11px;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin-top: 9px;*/
/*}*/

.price-block {
    float: right;
    margin-top: 9px;
    font-size: 15px;
}

.currency-change-block {
    float: right;
    margin-top: -40px;
}

.currency-change-block a {
    text-decoration: none;
    font-weight: 100;
    color: black;
}

.currency-change-block a.active {
    text-decoration: none;
    font-weight: 100;
    color: #ee0032;
}

#photo-gallery, #video-gallery {
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
}

#video-gallery {
    display: none;
}

#photo-gallery > #main-image, #video-gallery > #main-video {
    background: no-repeat center center;
    background-size: contain;
    height: 400px;
    background-color: rgb(245,245,245);
}

#photo-gallery > #main-image:hover {
    cursor: pointer;
}

#photo-gallery > #image-list, #video-gallery > #video-list {
    margin-top: 15px;
    min-height:60px;
    display: block;
}

#photo-gallery > #image-list > .image, #video-gallery > #video-list > .video {
    background: no-repeat center center rgb(245,245,245);
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    width: 60px;
    height: 60px;
    display: inline-block;
}

#photo-gallery > #image-list > .image:hover:after {
    content: '';
    position: absolute;
    width:60px;
    height:60px;
    /*background-color:rgba(0,0,0,0.2);*/
    box-sizing: border-box;
    border:3px solid rgba(0,0,0,0.2);
    background-size: cover;
}

#photo-gallery > #image-list > .image.active:after {
    content: '';
    position: absolute;
    width:60px;
    height:60px;
    background-color:rgba(0,0,0,0.2);
    box-sizing: border-box;
    border:3px solid rgba(0,0,0,0.2);
    background-size: cover;
}

/*#video-gallery #video-list .video:hover:after,*/
/*#video-gallery #video-list .video.active:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*width:60px;*/
    /*height:60px;*/
    /*background: url(/images/video_play.svg) no-repeat center center;*/
    /*background-size: cover;*/
/*}*/

#video-gallery #video-list .video:after {
    content: '';
    position: absolute;
    width:60px;
    height:60px;
    background: url(/images/video_play.svg) no-repeat center center;
    background-size: cover;
}


#photo-gallery > #image-list > .image:hover, #video-gallery > #video-list > .video:hover {
    cursor: pointer;
}

#photo-gallery > #image-list > .image:first-child, #video-gallery > #video-list > .video:first-child {
    margin-left: 0;
}
#photo-gallery > #image-list > .image:last-child, #video-gallery > #video-list > .video:last-child {
    margin-right: 0;

}

.wrapper {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
}

.image-container {
    display: none;
    position: fixed;
    height: 86%;
    top: 7%;
    background: no-repeat center center transparent;
    background-size: contain;
    z-index: 100;
    width: 960px;
    margin-top: 30px;
    left: 50%;
    margin-left: -480px;
}

.price {
    text-align: right;
    font-size: 20px;
    color:rgb(60,60,60);
}

#pagination {
    list-style: none;
    font-size: 0;
    padding: 0;
    text-align: right;
}

#pagination li {
    display: inline-block;
    font-size: 18px;
    margin: 0 4px;
}

#pagination li a {
    color : rgba(0,0,0,0.7);
    text-decoration: none;
    padding: 2px;
}

#pagination li.active {
    /*border-bottom:2px solid #ff5c00;*/
}

#pagination li.active a {
    color : #ff5c00;
    /*font-weight: bold;*/

}

.add-service {
    border-radius: 2px;
    text-transform: uppercase;
    color: white !important;
    background-color: #ff5c00 !important;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 9px !important;
    font-size: 19px !important;
    border:2px solid #ff5c00 !important;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 10px;
}

.add-service:hover {
    background-color: transparent !important;
    color:#ff5c00 !important;
}

.params-list {
    counter-reset: iter;
    padding: 0;
    list-style: none;
    position: relative;
}

.params-list li{
    /*background-color: black; */
    color: rgba(0,0,0,0.64);
    box-sizing: border-box;
    padding: 10px 0px 1px 0px;
    /* border-radius: 2px; */
    margin: 30px 0 15px 0;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid rgb(120,120,120);
    text-transform: uppercase;
}

.params-list > li+div{
    box-sizing: border-box;
    padding-left: 30px;
}

.params-list  .external-link {
    color: inherit;
    display: inline-block;
    padding-bottom: 0px;
    border-bottom: 1px dashed;
    text-decoration: none;
    line-height: 10px;
}

.params-list > li:first-child {
    margin-top: 15px;
}

::-webkit-input-placeholder {color:rgba(80,80,8,0.55);}
::-moz-placeholder          {color:rgba(80,80,8,0.55);}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(80,80,8,0.55);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(80,80,8,0.55);}

.params-list input[type=text],
.params-list input[type=email],
.params-list input[type=password],
.params-list textarea,
.params-list select,
.params-list button{
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.2);
    font-family: "Officina";
    outline: none;
    width: 240px;
    -webkit-appearance: none;
    background-color: white;
    border-radius: 1px;
}

.params-list textarea {
    height: 140px;
    width: 540px;
    resize: none;
}

.params-list input[type=text]:focus,
.params-list input[type=email]:focus,
.params-list input[type=password]:focus,
.params-list textarea:focus,
.params-list select:focus {
    border: 1px solid rgba(0,0,0,0.5);
}

/*.params-list li:before {*/
    /* Advance the number. */
    /*counter-increment: iter;*/
    /* Use the counter number as content. */
    /*content: counter(iter) '. ';*/
    /*color: white;*/
    /*background-color: black;*/

/*}*/

.params-list #Service_currency_id, .params-list .price_currency {
    width:75px;
    padding: 10px;
}

.params-list #Service_price_type {
    width:136px;
    padding: 10px ;
}

.params-list .price_type {
    width:120px;
    padding: 10px ;
}

.params-list #Service_price_value, .params-list .price_value {
    width: 85px !important;
    text-align: right;
}

.params-list .price_description {
    width: 130px !important;
    text-align: left;
}

.add-service-error-message {
    display: inline-block;
    font-size: 11px;
    color: #da224b;
    margin-top: 5px;
    float: right;
    font-weight: 100;
    text-transform: none;
}

.params-list .sub-title {
    color: rgba(140,140,140, 0.8);
    font-weight: 100;
    font-size: 12px;
    margin: 10px 0;
    font-style: italic;
    letter-spacing: 0.15px;
}

.additional-price {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 5px 0;
}
.additional-price:first-child {
    padding-top:0;
}
.additional-price:last-child {
    padding-bottom:0;
    border:0;
}


.additional-prices-block {
    font-size: 0;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(235,235,235);
}

.additional-prices-block .additional-price-description {
    font-weight: 600;
    color: rgb(80,80,80);
    font-size: 14px;
    width:23%;
    display: inline-block;
}

.additional-prices-block .additional-price:first-child .additional-price-description {
    font-size: 16px;
    font-weight: 900;
    color: black;
}

.additional-prices-block .additional-price:first-child .additional-price-value {
    font-size: 13px;
    font-weight: 900;
}

/*.additional-prices-block .additional-price:first-child {*/
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
/*}*/

.additional-prices-block .additional-price-value {
    font-size: 14px;
    width: 77%;
    display: inline-block;
    text-align: right;
}

.additional-prices-block .additional-prices {
    color: black;
    display: inline-block;
}

.additional-prices-block .additional-prices:first-child {
    width: 58%;
}
.additional-prices-block .additional-prices:last-child {
    width: 42%;
}

.manage-button-list {
    position: absolute;
    right: 0;
    margin: 11px 8px;
    z-index: 9;
}

.manage-button {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3px;
    color: rgb(140,140,140);
    font-style: italic;
    transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    display: inline-block;
    text-decoration: none;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: no-repeat center center rgb(115,115,115);
    background-size: cover;
    border-color: #ff5c00;
}

.manage-button.edit { background-image: url(/images/icons/edit.svg); }
.manage-button.trash { background-image: url(/images/icons/trash.svg); border-color: #d6224a;  }
.manage-button.catalog-add-holiday-button { background-image: url(/images/icons/add-to-holiday.svg); }

.manage-button.send-request { background-image: url(/images/icons/send_request.svg)}

.manage-button.catalog-add-holiday-button:hover:after { margin-left: -49px; width: 100px; }
.manage-button.edit:after  { margin-left: -36px; }
.manage-button.trash:after  { margin-left: -20px; }

.manage-button:hover:before {
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    margin-top: 17px;
    margin-left: 4px;
    content: '';
    border-bottom: 7px solid;
    border-bottom-color: inherit;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid transparent;
}

.manage-button:hover:after {
    content: attr(data-alt);
    display: block;
    position: absolute;
    float: none;
    font-size: 13px;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    background-color: inherit;
    margin-top: 30px;
    padding: 5px 10px;
    color: white;
    font-weight: 100;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.manage-button.trash:hover {
    background-color: #d6224a;
}


.except .manage-button.catalog-add-holiday-button:hover:after {
    margin-top: 43px;
    margin-left: -43px;
}

.except .manage-button.catalog-add-holiday-button:hover:before {
    margin-top: 30px;
    margin-left: 10px;
}

.manage-button:hover {
    transform: scale(1.085,1.085);
    background-color: #ff5c00;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.view-link {
    margin-left: 402px;
    margin-top: 22px;
    font-size: 10px;
}

.manage-button:hover, .view-link:hover {
    color:rgb(100,100,100);
}

.category-icon {
    float: left;
    width: 36px;
    margin-top: 15px;
    margin-right: 7px;
}

.price-usd {
    text-align: right;
    font-size: 12px;
    color: rgb(160,160,160);
    margin-top: 3px;
}

.region-and-comments-block {
    font-size: 0;
    margin-top: 18px;
    vertical-align: top;
}

.region-button, .more-button {
    display: inline-block;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    /*margin-left: 134px;*/
    color: black;
    position: absolute;
    margin-top:-1px;
}

.region-button {
    /*margin-left: 70px;*/
}


.region-button:hover+.regions, .regions:hover {
    display: block;
}

.price-block-new {
    background-color: rgb(230,230,230);
    padding: 7px;
    font-size: 0;
    box-sizing: border-box;
}

.price-block-new > div {
    display: inline-block;
    vertical-align: top;
}
.price-block-new .price-for-service {
    width: 205px;
    text-align: center;
    border-right: 1px solid rgb(190,190,190);
    font-size: 13px;
    color: rgb(70,70,70);
    font-weight: 100;
    padding: 2px;
    box-sizing: border-box;
}

.price-block-new .price-in-byr {
    width: 270px;
    text-align: center;
    border-right: 1px solid rgb(190,190,190);
    font-size: 12px;
    color: rgb(70,70,70);
    padding: 2px;
    box-sizing: border-box;
    font-weight: 100;
}

.price-block-new .price-in-usd {
    width: 150px;
    text-align: center;
    font-size: 12px;
    color: rgb(70,70,70);
    padding: 2px;
    box-sizing: border-box;
    font-weight: 100;
}

.price-value {
    font-weight: 900;
}


.regions {
    display: none;
    background-color: white;
    height: 190px;
    position: absolute;
    top: 10px;
    width: 180px;
    margin-left: 228px;
    color: rgb(110,110,110);
    font-size: 14px;
    border: 1px solid rgb(225,225,225);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    z-index: 10;
    box-sizing: border-box;
    padding: 16px 16px 16px 16px;
}

.region-address {
    padding-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    color: rgb(90,90,90);
    font-weight: 600;
    overflow-y: auto;
    text-align: center;
}

.country {
    text-align: center;
    margin-top: 50px;
}

.country b {
    font-size: 20px;
}

.work {
    text-align: center;
    margin-top: 25px;
}

.black {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: rgb(70,70,70);
}

#tabs {
    text-align: center;
}

#tabs a {
    display: inline-block;
    background-color: rgb(160,160,160);
    color: white;
    text-decoration: none;
    padding: 4px 5px 2px 5px;
    width: 50px;
    text-align: center;
}

#tabs a.active {
    background-color: #ff5c00;
}

.abort_image_loading img {
    position: absolute;
    left: 30px;
    top: 26px;
}

a.big-orange-add-button {
    display: block;
    border: 3px solid rgba(255,92,0,0.7);
    background-color: rgba(255,92,0,0.05);
    text-decoration: none;
    color: rgba(255,92,0,0.8);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 100px;
    box-sizing: border-box;
}

a.big-orange-add-button:hover {
    background-color: rgba(255,92,0,0.12);
}