@font-face {
    font-family: Officina;
    src: url(../fonts/OfficinaSansBoldC.otf);
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Officina Small-Caps";
    src: url(../fonts/OfficinaSansBoldSCC.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Officina;
    src: url(../fonts/OfficinaSansBookC.otf);
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: "Officina Small-Caps";
    src: url(../fonts/OfficinaSansBookSCC.otf);
    font-weight: normal;
}

@font-face {
    font-family: Officina;
    src: url(../fonts/OfficinaSansMediumC.otf);
    font-weight: 600;
    font-variant: normal;

}

@font-face {
    font-family: "Officina Small-Caps";
    src: url(../fonts/OfficinaSansMediumSCC.otf);
    font-weight: 600;
}

body, html {
    padding:0;
    margin:0;
    background-color: #eaeaea;

    /*font-weight: 200;*/

    font-family: "Officina";
    font-weight: normal;

}

.col-span-3 {
    display: inline-block;
    vertical-align: top;
    padding: 26px 13px 26px 26px;
    box-sizing: border-box;
    /*width:240px;*/
    width:280px;
    /*border:1px solid red;*/
}

.col-span-9 {
    display: inline-block;
    vertical-align: top;
    padding: 26px 26px 26px 13px;
    box-sizing: border-box;
    /*width:720px;*/
    width:680px;
    /*border:1px solid green;*/
}

.col-span-12 {
    display: inline-block;
    vertical-align: top;
    padding: 26px 0px 26px 0px;
    box-sizing: border-box;
    /*width:720px;*/
    width:960px;
    /*border:1px solid green;*/
}

#content {
    min-height:750px;
    width:960px;
    background-color: white;

    margin:10px auto 25px auto;
    box-sizing: border-box;

}

h1.main-h1 {
    background-color: white;
    padding: 15px 0 7px 0;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    color: rgb(70,70,70);
    text-transform: uppercase;
    font-size: 24px;
    max-width: 960px;
    margin: 25px auto 0 auto;
    position: relative;
}

h1.main-h1 a{
    color: inherit;
    text-decoration: none;
}

h1.main-h1 a.more {
    font-size: 13px;
    text-transform: initial;
    position: absolute;
    right: 15px;
    top: 19px;
    color: rgb(200,200,200);
    font-weight: 100;
    font-style: italic;
}

h1.main-h1 a.more:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    min-width: 940px;
    margin: 0 auto;
}

.container960 {
    width:960px;
    margin:0 auto;

}

.container1200 {
    max-width:1200px;
    min-width: 960px;
}

#content.container960 {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.required {
    color:red;
}

.button-back {
    display: block;
    position: absolute;
    margin-top: -60px;
    line-height: 51px;
    box-sizing: border-box;
    height: 50px;
    border-right: 1px solid rgb(230,230,230);
    background: url(/images/arrow_black_left.svg) no-repeat center center;
    background-size: 11px;
    background-position-x: 16px;
    padding-left: 43px;
    padding-right: 17px;
    text-decoration: none;
    color: black;
}

.button-back:hover {
    background-color: rgb(246,246,246);
}

.working-around {
    text-align: center;
    font-style: italic;
    color: rgb(170,170,170);
    margin-top: 10px;
}

.show-password {
    position: absolute;
    background: url(/images/icons/eye.svg) no-repeat center center;
    /*display: block;*/
    width: 33px;
    height: 13px;
    right: 0;
    margin-top: -38px;
    margin-right: -32px;
    opacity: 0.15;
    z-index: 990;
}

.show-password.active {
    opacity: 0.35;
}

.form {
    width: 300px;
    margin: 0 auto;
}
.form .input-enter {
    background-color: transparent;
    position: relative;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.7);
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    box-sizing: border-box;
    text-align: center;
    padding: 13px;
    color:white;
    z-index:1;
    height: 43px;
    border-radius: 0 !important;
    outline: none;
    margin-bottom:6px;
}

.form .row:first-child .input-enter {
    border-top:1px solid rgba(255,255,255,0.7);
}

::-webkit-input-placeholder {color:rgba(255,255,255,0.6);}
::-moz-placeholder          {color:rgba(255,255,255,0.6);}/* Firefox 19+ */
:-moz-placeholder           {color:rgba(255,255,255,0.6);}/* Firefox 18- */
:-ms-input-placeholder      {color:rgba(255,255,255,0.6);}

.form .input-enter:focus::-webkit-input-placeholder { color:rgba(255,255,255,0.35); }
.form .input-enter:focus::-moz-placeholder { color:rgba(255,255,255,0.35); }
.form .input-enter:focus:-moz-placeholder { color:rgba(255,255,255,0.35); }
.form .input-enter:focus:-ms-input-placeholder { color:rgba(255,255,255,0.35); }

.form .row.rememberMe {
    height:44px;
    font-size: 14px;
    line-height: 43px;
    text-align: center;
}

.form input {
    outline: none;
    font-family: "Officina";
}

.form [type=submit] {
    width: 300px;
    border: 1px solid #069673;
    background-color: transparent;
    color: #069673;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.form [type=submit]:hover {
    cursor: pointer;
    background-color: #069673;
    color:white;
}

.error-message {
    background-color: #e8e8e8;
    color: rgba(0,0,0,0.7);
    padding: 5px 9px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    position: absolute;
    margin-left: 360px;
    margin-top: -56px;
    width: 322px;
    opacity: 0;

    transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

a.red-button {
    color: #da224b;
    border: 1px solid #da224b;
    border-radius: 20px;
    padding: 7px 0px 3px 0px;
    font-size: 15px;
    margin: 50px auto 0 auto;
    width: 150px;
    text-align: center;
    display: block;
    text-decoration: none;
}

a.user-agreement-link {
    color: rgba(255,255,255,0.7);
    font-style: italic;
}

.red {
    color: #ff5c00 !important;
    border: 1px solid #ff5c00 !important;
}

.red:hover {
    background-color: #ff5c00 !important;
    color:white !important;
}

a.red-button:hover {
    background-color: #da224b;
    color:white;
}

hr {
    border:0;
    border-bottom: 1px solid white;
}

hr.black {
    border-color:black;
}

h1.title {
    text-align: center;
    color: black;
    text-transform: uppercase;
}

h1.title:before,
h1.title:after {
    content:" ";
    display: inline-block;
    width:132px;
    height:25px;
    margin:0 28px;
    opacity: 0.8;
}

h1.title.closed:before,
h1.title.closed:after {
    margin:0 0;
}

h1.title:before { background: url(/images/icons/line-left.png) no-repeat; }
h1.title:after { background: url(/images/icons/line-right.png) no-repeat; }



/** ------ PROVIDERS ------- **/

.providers-list {
    opacity: 0.7;
    text-align: center;
    padding-top: 25px;
    transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;

}

.providers-list p {
    display: inline;
    margin: 0 5px;
}

.providers-list h5 {
    text-align: center;
    color:white;
    font-weight: normal;
    margin:10px;
}

.network-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-decoration: none;
    border: 0;
    background: no-repeat top center;
    background-size: 35px 70px;
}

.network-link:hover {
    background-position: 0 -35px;
}

.providers-list:hover {
    opacity: 1;
}

.confirm-block-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    box-sizing: border-box;
    z-index: 2300;
    display: none;
}

.confirm-block {
    z-index: 2400;
    position: fixed;
    left: 50%;
    margin-left: -255px;
    width: 510px;
    height: 125px;
    text-align: center;
    margin-top: -80px;
    top: 50%;
    box-sizing: border-box;
    display: none;
}

.confirm-block.v2 {
    margin-top: -110px;
}

.confirm-title {
    font-weight: bold;
    font-size: 27px;
}

.confirm-sub-title {
    color: rgb(60,60,60);
    margin-top: 5px;
}

.blur {
    filter : blur(30px);
    -webkit-filter : blur(30px);
}

.request-block {
    background-color: white;
    box-shadow: 0 0px 7px rgba(0,0,0,0.2);
    white-space: pre-line;
    text-align: center;
    padding: 10px 15px 10px 15px;
    box-sizing: border-box;
    margin-top: 15px;
}

.request-block textarea{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(230,230,230);
    width: 100%;
    height: 90px;
    outline: none;
    resize: none;
    padding: 10px;
    font-family: "Officina";
    font-size: 14px;
}

.request-block input {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(230,230,230);
    width: 100%;
    outline: none;
    resize: none;
    padding: 10px;
    font-family: "Officina";
    font-size: 14px;
}

.request-block ::-webkit-input-placeholder { color:rgb(160,160,160); }
.request-block ::-moz-placeholder { color:rgb(160,160,160); }
.request-block :-moz-placeholder { color:rgb(160,160,160); }
.request-block :-ms-input-placeholder { color:rgb(160,160,160); }

#yes, #no,
#yes2, #no2 {
    display: inline-block;
    border: 1px solid;
    width: 120px;
    text-decoration: none;
    margin: 35px 19px;
    padding: 5px 0 3px 0;
    text-transform: uppercase;
    border-radius: 40px;
}

#no, #no2 { color : #d6224a; border-color: #d6224a }
#no:hover, #no2:hover { color : white; background-color: #d6224a }

#yes, #yes2 { color : #318e01; border-color: #318e01 }
#yes:hover, #yes2:hover { color : white; background-color: #318e01 }


#Provider_vk {
    background-image: url(/images/icons/networks/vk.png);
}

#Provider_ok {
    background-image: url(/images/icons/networks/odnoklassniki.png);
}

#Provider_facebook {
    background-image: url(/images/icons/networks/facebook.png);
}

#registration-form select {
    font-size: 14px;
    font-family: inherit;
    text-indent: 10px;
    color:transparent !important;
}

#registration-form select, option {
    -webkit-appearance: none;
    -moz-appearance: none;
}

option {
    color: black;
}

.forgot-title {
    position: absolute;
    right: -50px;
    margin-top: -38px;
    text-align: right;
    z-index: 999;
}

.forgot-title a {
    font-size: 17px;
    color: rgba(255,255,255,0.15);
    z-index: 999;
    text-decoration: none;
    display: block;
    width: 15px;
}

.forgot-title a:hover,
.forgot-title a.active {
    color:rgba(255,255,255,0.35)
}

.forgot-title a:hover .forgot-block {
    display: block;
}

.forgot-block {
    position: absolute;
    background-color: rgb(245,245,245);
    color: black;
    width: 100%;
    text-align: center;
    margin-top: -98px;
    z-index: 999;
    height: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.6);

    /*opacity: 0;*/
    display: none;
    transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.forgot-block.active {
    display: block;
    opacity: 1;
}

.forgot-block h3 {
    font-size: 25px;
    color:rgb(40,40,40);
    margin-top: 52px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.forgot-block span.h4 {
    font-size: 14px;
    color:rgb(100,100,100);
}

.forgot-block .forgot-email {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 7px 10px;
    margin-top: 20px;
}

.links {
    padding-top: 4px;
}

.links a.share-link {
    margin: 0 3px;
    display: inline-block;
    background-color: #eaeaea;
    padding: 5px 10px 2px 10px;
    border-radius: 3px;
    color: rgb(100,100,100);
}

.links a.share-link:hover {
    cursor: pointer;
    color: rgb(70,70,70);
    background-color: rgb(220,220,220);
}

.links a.share-link:first-child { margin-left: 0; }

#avatarUpload,
.avatarUpload {
    width: 200px;
    height: 200px;
    background: url(/images/no-photo.png) no-repeat center center;
    background-size: cover;
}

#avatarUpload .bg-black,
.avatarUpload .bg-black {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    box-sizing: border-box;
    border: 1px solid rgb(210,210,210);
    text-align: center;
    opacity: 0;

    transition: opacity 0.16s ease-in-out;
    -o-transition: opacity 0.16s ease-in-out;
    -moz-transition: opacity 0.16s ease-in-out;
    -webkit-transition: opacity 0.16s ease-in-out;
}

#avatarUpload:hover,
#avatarUpload .bg-black:hover,
.avatarUpload:hover,
.avatarUpload .bg-black:hover{
    cursor: pointer;
}


.success-flash,
.failed-flash {
    position: fixed;
    top: 22px;
    text-align: center;
    text-transform: uppercase;
    width: 400px;
    margin-left: -200px;
    left: 50%;
    color: #318e01;
    z-index: 10000;
}

.success-flash {
    color: #318e01;
}

.failed-flash {
    color: white;
    background-color: #da224b;
    box-sizing: border-box;
    padding: 9px 4px 6px 4px;
    border-radius: 4px;
    top:13px;
}

.left-menu ul, .information ul {
    list-style: none;
    padding: 0;
}

.left-menu ul li {
    margin: 11px 0;
    border-bottom:0px solid white;
}

.left-menu ul li a {
    color: rgb(125,125,125);
    text-decoration: none;
    font-size: 14px;
}

.left-menu ul li:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 10px;
    background-color: white;
    margin-right: 4px;
}

.left-menu ul li.active {
    border-bottom:0;
}

.left-menu ul li.underline {
    border-bottom: 1px solid #ff5c00;
}

.left-menu ul li.underline span {
    float: right;
    background-color: #ff5c00;
    color: white;
    font-size: 14px;
    padding: 3px 4px 1px 5px;
    line-height: 14px;
    text-align: center;
}

.left-menu ul li.active:before {
    background-color: black;
    color:black;
}

.left-menu ul li.active a,
.left-menu ul li a:hover {
    color: black;
}

input[name="avatarUploadButton"],
.uploadButton {
    box-sizing: border-box;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid #ff5c00;
    color: #ff5c00;
    width: 200px;
    margin-top: 10px;
    line-height: 24px;
    font-size: 13px;
}

input[name="avatarUploadButton"]:hover,
.uploadButton:hover {
    cursor: pointer;
    border: 1px solid #ff5c00;
    background-color: #ff5c00;
    color: white;
}

.col-span-3 #ad-registration {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid #ff5c00;
    height: 400px;
    display: block;
    text-decoration: none;
    background: url(/images/background_reclame.jpg) center center no-repeat;
    background-size: cover;
}

.col-span-3 #ad-registration:hover #background{
    color: white;
    background-color: rgba(255, 92, 0, 0.9);
}

.col-span-3 #ad-registration #background{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    color: #ff5c00;
    box-sizing: border-box;
    padding-top: 80px;
}

.col-span-3 #ad-registration #background .my-ad-title {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 24px;
}

.col-span-3 #ad-registration #background .my-ad-text {
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
}

.bg-black #percent {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    font-size: 35px;
}

.bg-black #discard {
    position: absolute;
    display: inline-block;
    margin-top: 110px;
    color: rgb(110,110,110);
    margin-left: -44px;
    padding: 20px;
}

.holiday {
    position: relative;
    height: 150px;
    background-color: rgb(245,245,245);
    margin-bottom: 15px;
}


.holiday-item {
    display: block;
    width: inherit;
    height: inherit;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 16px;
    text-shadow: 0 0 4px rgba(0,0,0,0.6);
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding-top: 30px;
    background: no-repeat center center;
    background-size: 100%;

    -webkit-transition: all 200ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -moz-transition: all 200ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -o-transition: all 200ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    transition: all 200ms cubic-bezier(0.135, 0.540, 0.295, 0.870); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -moz-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -o-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870); /* custom */
}

.holiday-item.wedding { background-image: url(/images/holidayCategoryImages/wedding.jpg); }
.holiday-item.corporate { background-image: url(/images/holidayCategoryImages/corporate.jpg); }
.holiday-item.birthday { background-image: url(/images/holidayCategoryImages/birthday.jpg); }

.holiday-item:hover {
    background-size: 110%;
    /*font-size: 18.8px;*/
    /*padding-top: 17px;*/
}

.holiday-item .type {
    text-transform: uppercase;
    font-size: 0.84em;
    font-weight: 100;
}

.holiday-item .title {
    text-transform: uppercase;
    font-size: 1.7em;
    margin-top: 2px;
    font-weight: 600;
}

.holiday-item .date {
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 2px;
}

.holiday-item .region {
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
    margin-top: 5px;
}

.holiday .manage-button {
    border: 1px solid white;
    background-color: rgba(0,0,0,0.3);
}

.holiday .manage-button.edit:before { border-bottom-color: #ff5c00; }
.holiday .manage-button.trash:before { border-bottom-color: #d6224a; }

.holiday .manage-button:hover {
    transform: scale(1.085,1.085);
    background-color: #ff5c00;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border:1px solid #ff5c00;
}

.holiday .manage-button.trash:hover {
    background-color: #d6224a;
    border:1px solid #d6224a;
}

.holiday-types-list {
    background-color: rgba(255, 92, 0, 0.17);
    margin: 0 0 15px 0;
    overflow: hidden;
    line-height: 18px;
    height:0;

    -webkit-transition: height 300ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -moz-transition: height 300ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -o-transition: height 300ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    transition: height 300ms cubic-bezier(0.135, 0.540, 0.295, 0.870); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -moz-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -o-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870); /* custom */
}

.holiday-types-list.open {
    padding: 10px 0;
    border-bottom: 3px solid rgba(255,92,0,0.7);
    height: 112px;
}

.holiday-types-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.holiday-types-list ul li a{
    display: block;
    /*box-sizing: border-box;*/
    padding: 5px 25px;
    color: rgba(255,92,0,0.9);
    text-decoration: none;

    -webkit-transition: text-indent 300ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -moz-transition: text-indent 300ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -o-transition: text-indent 300ms cubic-bezier(0.135, 0.540, 0.295, 0.870);
    transition: text-indent 300ms cubic-bezier(0.135, 0.540, 0.295, 0.870); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -moz-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    -o-transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870);
    transition-timing-function: cubic-bezier(0.135, 0.540, 0.295, 0.870); /* custom */
}

.holiday-types-list ul li a:hover {
    background-color: rgba(255,92,0,0.6);
    color: white;
    text-indent: 15px;
}

footer {
    background-color: #383838;
    width:100%;
    box-sizing: border-box;
    padding: 30px 0;
}

footer h4, footer h5 {
    margin:0;
    padding: 0;
    text-transform: uppercase;
}

footer table {
    width:100%;
}

footer table td {
    width:20%;
    vertical-align: top;
}

footer .categories-list-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .categories-list-block ul li{
    margin: 0;
    padding: 0;
}

footer .categories-list-block > a {
    color: rgb(200,200,200);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

footer .categories-list-block ul a{
    color:rgb(160,160,160);
    text-decoration: none;
    font-size: 13px;
}

footer .categories-list-block a:hover {
    color:white;
    /*text-decoration: underline;*/
}

footer .right-links {
    display: inline-block;
    color:rgb(220,220,220);
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}

footer .right-links:hover {
    text-decoration: underline;
    color:white;
}

footer .policy {
    margin: 32px 0;
}

footer .policy a {
    color:rgb(220,220,220);
    text-decoration: none;
    font-size: 13px;
}

footer .policy a:hover {
    text-decoration: underline;
}

footer .address {
    font-size: 13px;
    color:rgb(220,220,220);
}

footer .address a{
    color:rgb(220,220,220);
}

footer .under {
    border-top: 1px solid rgb(75,75,75);
    margin-top: 25px;
    font-size: 13px;
    font-weight: 100;
    color: rgb(200,200,200);
    padding-top: 25px;
}

footer .under i {
    font-style: normal;
    font-size: 20px;
}

footer .under td { text-align: center; }
footer .under td:first-child { text-align: left; }
footer .under td:last-child { text-align: right; }

footer .footer-link {
    color: rgb(200,200,200);
    text-decoration: none;
    font-size: 13px;
}

footer .footer-link:hover {
    color: white;
}

footer .footer-link:hover .vk-icon {
    opacity: 1;
}

.vk-icon {
    background: url(/images/icons/vk.svg) no-repeat center center;
    background-size: 100%;
    height: 9px;
    width: 16px;
    margin: 0 5px;
    opacity: 0.7;
    display: inline-block;
}

