#content {
    width:960px;
    background-color: white;
    margin:25px auto;
    box-sizing: border-box;
}

/*.col-span-3 {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*padding: 26px 13px 26px 26px;*/
    /*box-sizing: border-box;*/
    /*width:240px;*/
    /*width:280px;*/
    /*border:1px solid red;*/
/*}*/

/*.col-span-9 {*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*padding: 26px 26px 26px 13px;*/
    /*box-sizing: border-box;*/
    /*width:720px;*/
    /*width:680px;*/
    /*border:1px solid green;*/
/*}*/

#avatar {
    width: 100%;
}

.left-menu ul, .information ul {
    list-style: none;
    padding: 0;
}

.left-menu ul li {
    margin: 12px 0;
}

.left-menu ul li a {
    color: rgb(100,100,100);
    text-decoration: none;
    font-size: 14px;
}

.left-menu ul li:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 10px;
    background-color: white;
    margin-right: 4px;
}

.left-menu ul li.active:before {
    background-color: black;
    color:black;
}

.left-menu ul li.active a,
.left-menu ul li:hover a {
    color: black;
}

.title {
    font-size: 39px;
    text-align: center;
}

.information ul {
    margin: 0;
    font-size: 14px;
}

.info-title {
    color:rgb(120,120,120);
    text-decoration: underline;
}

.info-title+li {
    /*margin-bottom: 10px;*/
}

h1.title {
    margin: 0;
}

h1.title:before, h1.title:after {
    content: " ";
    background-size: cover;
    display: inline-block;
    width: 90px;
    height: 17px;
    margin: 0 28px;
    opacity: 0.8;
}

span.title-black {
    display: inline-block;
    background-color: black;
    color:white;
    padding: 6px 18px 3px 18px;
    margin-bottom: 20px;
    font-size: 16px;
}

.description, .information {
    float: left;
}

.description {
    width:63%;
    box-sizing: border-box;
    padding-right: 26px;
}

.information {
    width: 37%;
}

.information ul li.link a{
    color:black;
    text-decoration: none;
}

.service {
    background-color: rgb(245,245,245);
    margin-bottom: 15px;
}

.service > .avatar {
    width:210px;
    height:210px;
    background: center center no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
}

.service > .info {
    display: inline-block;
    vertical-align: top;
    width: 440px;
    position: relative;
    margin-left: 14px;
}

.service > .info > h2{
    font-weight: 100;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(180,180,180);
    font-size: 22px;
    margin: 15px 0px 10px 0px;
    padding-bottom: 6px;
}

.service .desc, .service .about {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width:50%;
}

.service .desc {
    font-size: 12px;
}

.service .about {
    padding-left: 20px;
}

.all-info {
    border-bottom: 1px solid rgb(180,180,180);
    padding-bottom: 8px;
    height:100px;
    font-size: 12px !important;
}

.all-info .info-title {
    font-style:italic;
}

.all-info .info-title+div {
    margin-bottom: 12px;
}

.more {
    text-decoration: none;
    background-color: rgb(100,100,100);
    color: white;
    padding: 6px 5px 3px 5px;
    font-size: 12px;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.price-block {
    float: right;
    margin-top: 10px;
    font-size: 19px;
}

.currency-change-block {
    float: right;
    margin-top: -40px;
}

.currency-change-block a {
    text-decoration: none;
    font-weight: 100;
    color: black;
}

.currency-change-block a.active {
    text-decoration: none;
    font-weight: 100;
    color: #ee0032;
}
