/**
 * @package		PickMeUp - jQuery datepicker plugin
 * @author		Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @author		Stefan Petre <www.eyecon.ro>
 * @copyright	Copyright (c) 2013-2015, Nazar Mokrynskyi
 * @copyright	Copyright (c) 2008-2009, Stefan Petre
 * @license		MIT License, see license.txt
 */
.pickmeup {
    background: rgb(240,240,240);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
    position: absolute; }
.pickmeup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.pickmeup .pmu-instance {
    display: inline-block;
    height: 13.8em;
    padding: .5em;
    text-align: center;
    width: 15em; }
.pickmeup .pmu-instance .pmu-button {
    color: rgb(120,120,120);
    cursor: pointer;
    outline: none;
    text-decoration: none; }
.pickmeup .pmu-instance .pmu-today {
    /*background: #17384d;*/
    /*color: #88c5eb; }*/
    background: rgb(190,190,190);
    color: rgb(150,150,150); }
.pickmeup .pmu-instance .pmu-button:hover {
    background: transparent;
    color: rgb(170,170,170); }
.pickmeup .pmu-instance .pmu-not-in-month {
    /*color: #666; }*/
    opacity: 0.4; }
.pickmeup .pmu-instance .pmu-disabled,
.pickmeup .pmu-instance .pmu-disabled:hover {
    /*color: rgb(200,200,200);*/
    opacity: 0.3;
    cursor: default; }
.pickmeup .pmu-instance .pmu-selected {
    background: rgb(120,120,120);
    color: #eee; }
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
    background: #17384d; }
.pickmeup .pmu-instance nav {
    color: #eee;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 2em; }
.pickmeup .pmu-instance nav *:first-child :hover {
    color: #88c5eb; }
.pickmeup .pmu-instance nav .pmu-prev,
.pickmeup .pmu-instance nav .pmu-next {
    display: none;
    height: 2em;
    width: 1em; }
.pickmeup .pmu-instance nav .pmu-month {
    width: 14em; }
.pickmeup .pmu-instance .pmu-years *,
.pickmeup .pmu-instance .pmu-months * {
    display: inline-block;
    line-height: 3.6em;
    width: 3.5em; }
.pickmeup .pmu-instance .pmu-day-of-week {
    color: #999;
    cursor: default; }
.pickmeup .pmu-instance .pmu-day-of-week *,
.pickmeup .pmu-instance .pmu-days * {
    display: inline-block;
    line-height: 1.5em;
    width: 2em; }
.pickmeup .pmu-instance .pmu-day-of-week * {
    line-height: 1.8em; }
.pickmeup .pmu-instance:first-child .pmu-prev,
.pickmeup .pmu-instance:last-child .pmu-next {
    display: block; }
.pickmeup .pmu-instance:first-child .pmu-month,
.pickmeup .pmu-instance:last-child .pmu-month {
    width: 13em; }
.pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 12em; }
.pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
    display: none; }
.pickmeup .pmu-day-of-week div+div+div+div+div+div,
.pickmeup .pmu-day-of-week div:last-child,
.pickmeup .pmu-saturday,
.pickmeup .pmu-sunday{
    color:#da224b !important;
}