.xphoto{
	/*background-color:#333;*/
}
.xphoto-video-container{
	background-color:#DDDDDD;
	overflow:hidden;
	padding:0;
	margin:0;
	background-image: url('../img/no-photo.png');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
}

.xphoto-canvas {
	border:1px solid rgba(0,0,0,0.2);
}
.xphoto-video{
	
}
.xphoto-photo{
	border:4px solid #333;
}
.xphoto-buttons{
	text-align: center;
	width:100px;
}
.xphoto-buttons button, .xphoto-buttons .btn{
	/*margin:0 5px;*/
	width:200px;
	margin-top:10px;
	padding: 6px 10px 4px 10px;
}
.xphoto-modal-buttons{
	text-align: center;
	padding:5px;
}